<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Contacts <span class="pull-right">
                    <button class="btn btn-success">
                        New Contact
                    </button>
                </span></p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <app-contact-item *ngFor="let contactEl of contacts"
                    [contact]="contactEl"
                    (contactSelected) = "onSelected(contactEl)"></app-contact-item>
                </div>
            </div>
        </div>
    </div>
</div>